datasets
nltk
numpy
parameterized
pybind11
regex
six
tensorboard
torch>=1.7
transformers
DeepSpeed @ git+https://github.com/microsoft/DeepSpeed.git
# versions from HF transformers
black==21.4b0
isort>=5.5.4
