$schema: https://azuremlschemas.azureedge.net/latest/managedOnlineDeployment.schema.json
name: smr
endpoint_name: {{ENDPOINT_NAME}}
model: azureml:minimalregistered:{{MODEL_VERSION}}
code_configuration: 
  code: ../../../model-1/onlinescoring
  scoring_script: score.py
environment:
  image: mcr.microsoft.com/azureml/minimal-py312-inference:latest
  conda_file: env.yml
instance_type: Standard_DS3_v2
instance_count: 1
