# See for instructions on this file https://help.github.com/articles/about-codeowners/

/python-sdk/tutorials/automl-with-azureml @rtanase @cesardelatorre @anupsms @lauralj103 @jeff-shepherd @raduk @swatig007 @martinezgjuan @MercyPrasanna @PhaniShekhar @yoyolin @sjinthehouse @vadthyavath @mispa-ms
/tutorials/ mldocs@microsoft.com 
/cli/resources/datastore/adls-gen2-credless.yml mldocs@microsoft.com 
/cli/assets/model/local-mlflow.yml mldocs@microsoft.com 
/cli/endpoints/online/deploy-with-packages/custom-model/deployment.yml mldocs@microsoft.com 
/cli/deploy-mlcompute-update-to-system-identity.sh mldocs@microsoft.com 
/cli/jobs/basics/hello-iris-datastore-folder.yml mldocs@microsoft.com 
/cli/jobs/automl-standalone-jobs/cli-automl-text-classification-newsgroup/cli-automl-text-classification-newsgroup.yml mldocs@microsoft.com 
/sdk/python/jobs/pipelines/2e_image_classification_keras_minist_convnet/train/conda.yaml mldocs@microsoft.com 
/cli/endpoints/online/managed/sample/blue-deployment.yml mldocs@microsoft.com 
/sdk/python/jobs/pipelines/1j_pipeline_with_pipeline_component/pipeline_with_train_eval_pipeline_component/pipeline_with_train_eval_pipeline_component.ipynb mldocs@microsoft.com 
/setup/setup-ci/install-pip-package.sh mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/imagenet-classifier/deployment-by-batch.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/mnist-classifier/deploy-and-run.sh mldocs@microsoft.com 
/sdk/python/endpoints/batch/deploy-models/mnist-classifier/mnist-batch.ipynb mldocs@microsoft.com 
/tutorials/get-started-notebooks/cloud-workstation.ipynb mldocs@microsoft.com 
/sdk/python/jobs/automl-standalone-jobs/automl-classification-task-bankmarketing/automl-classification-task-bankmarketing-serverless.ipynb mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/batch-scoring-with-preprocessing/deployment.yml mldocs@microsoft.com 
/sdk/python/featurestore_sample/notebooks/sdk_and_cli/network_isolation/Network Isolation for Feature store.ipynb mldocs@microsoft.com 
/cli/endpoints/online/ncd/sklearn-deployment.yaml mldocs@microsoft.com 
/cli/resources/compute/instance-schedule.yml mldocs@microsoft.com 
/cli/jobs/basics/hello-world-output.yml mldocs@microsoft.com 
/cli/resources/compute/cluster-location.yml mldocs@microsoft.com 
/cli/jobs/pipelines/automl/image-multilabel-classification-fridge-items-pipeline/pipeline.yml mldocs@microsoft.com 
/sdk/python/featurestore_sample/notebooks/sdk_and_cli/3. Enable recurrent materialization and run batch inference.ipynb mldocs@microsoft.com 
/sdk/python/endpoints/online/mlflow/sklearn-diabetes/model/conda.yaml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/batch-scoring-with-preprocessing/environment/conda.yml mldocs@microsoft.com 
/cli/endpoints/online/managed/sample/endpoint.yml mldocs@microsoft.com 
/CLI/schedules/schedule.sh mldocs@microsoft.com 
/cli/endpoints/online/deploy-with-packages/custom-model/package-moe.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/hello-batch/endpoint.yml mldocs@microsoft.com 
/cli/schedules/schedule.sh mldocs@microsoft.com 
/cli/jobs/pipelines-with-components/pipeline_with_pipeline_component/pipeline_with_train_eval_pipeline_component/pipeline.yml mldocs@microsoft.com 
/cli/endpoints/online/ncd/sklearn-diabetes/environment/conda.yaml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/hello-batch/deployment.yml mldocs@microsoft.com 
/sdk/python/jobs/single-step/tensorflow/train-hyperparameter-tune-deploy-with-keras/train-hyperparameter-tune-deploy-with-keras.ipynb mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/hello-batch/deployment-from-job.yml mldocs@microsoft.com 
/cli/resources/compute/cluster-basic.yml mldocs@microsoft.com 
/sdk/python/endpoints/online/deploy-with-packages/custom-model/sdk-deploy-and-test.ipynb mldocs@microsoft.com 
/cli/endpoints/online/triton/single-model/create-managed-endpoint.yaml mldocs@microsoft.com 
/sdk/python/jobs/single-step/lightgbm/iris/lightgbm-iris-sweep.ipynb mldocs@microsoft.com 
/cli/jobs/pipelines-with-components/pipeline_with_pipeline_component/pipeline_with_train_eval_pipeline_component/components/train_pipeline_component.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/training-with-components/deployment-onehot/pipeline.yml mldocs@microsoft.com 
/setup/setup-repo/azure-github.sh mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/heart-classifier-mlflow/deploy-and-run.sh mldocs@microsoft.com 
/cli/endpoints/online/deploy-with-packages/custom-model/environment/sklearn-regression-env.yml mldocs@microsoft.com 
/sdk/python/endpoints/batch/deploy-models/custom-outputs-parquet/custom-output-batch.ipynb mldocs@microsoft.com 
/cli/resources/datastore/adls-gen1-credless.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/custom-outputs-parquet/deployment.yml mldocs@microsoft.com 
/sdk/python/jobs/configuration.ipynb mldocs@microsoft.com 
/cli/jobs/pipelines-with-components/basics/1b_e2e_registered_components/pipeline-serverless.yml mldocs@microsoft.com 
/cli/resources/compute/cluster-minimal.yml mldocs@microsoft.com 
/cli/jobs/single-step/scikit-learn/iris/job.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/custom-outputs-parquet/endpoint.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/imagenet-classifier/code/score-by-file/batch_driver.py mldocs@microsoft.com 
/sdk/python/jobs/single-step/scikit-learn/train-hyperparameter-tune-deploy-with-sklearn/train-hyperparameter-tune-with-sklearn.ipynb mldocs@microsoft.com 
/cli/endpoints/online/managed/managed-identities/2-sai-deployment.yml mldocs@microsoft.com 
/sdk/python/resources/compute/compute.ipynb mldocs@microsoft.com 
/sdk/python/jobs/pipelines/2e_image_classification_keras_minist_convnet/score/score.py mldocs@microsoft.com 
/cli/deploy-managed-online-endpoint-access-resource-sai.sh mldocs@microsoft.com 
/cli/endpoints/online/ncd/sample-request-sklearn.json mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/mnist-classifier/endpoint.yml mldocs@microsoft.com 
/deploy-arm-templates-az-cli.sh mldocs@microsoft.com 
/sdk/python/endpoints/online/managed/online-endpoints-safe-rollout.ipynb mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/batch-scoring-with-preprocessing/environment/xgboost-sklearn-py38.yml mldocs@microsoft.com 
/cli/resources/compute/instance-minimal.yml mldocs@microsoft.com 
/sdk/python/featurestore_sample/notebooks/sdk_only/3. Enable recurrent materialization and run batch inference.ipynb mldocs@microsoft.com 
/sdk/python/jobs/single-step/pytorch/train-hyperparameter-tune-deploy-with-pytorch/train-hyperparameter-tune-deploy-with-pytorch.ipynb mldocs@microsoft.com 
/cli/jobs/basics/hello-iris-file.yml mldocs@microsoft.com 
/cli/resources/datastore/file-sas.yml mldocs@microsoft.com 
/cli/assets/component/train.yml mldocs@microsoft.com 
/sdk/python/endpoints/online/managed/managed-identities/online-endpoints-managed-identity-uai.ipynb mldocs@microsoft.com 
/cli/jobs/basics/src/hello-mlflow.py mldocs@microsoft.com 
/cli/resources/registry/registry.yml mldocs@microsoft.com 
/cli/endpoints/online/ncd/create-endpoint.yaml mldocs@microsoft.com 
/cli/endpoints/online/triton/single-model/create-managed-deployment.yaml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/huggingface-text-summarization/deployment.yml mldocs@microsoft.com 
/sdk/python/schedules/job-schedule.ipynb mldocs@microsoft.com 
/cli/jobs/pipelines/automl/cli-automl-text-ner-conll-pipeline/pipeline.yml mldocs@microsoft.com 
/sdk/python/jobs/single-step/tensorflow/train-hyperparameter-tune-deploy-with-tensorflow/train-hyperparameter-tune-deploy-with-tensorflow.ipynb mldocs@microsoft.com 
/cli/jobs/pipelines-with-components/basics/2a_basic_component/component.yml mldocs@microsoft.com 
/cli/resources/workspace/with-existing-resources.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/hello-batch/pipeline-job.yml mldocs@microsoft.com 
/sdk/python/endpoints/online/deploy-with-packages/registry-model/sdk-deploy-and-test.ipynb mldocs@microsoft.com 
/cli/jobs/spark/serverless-spark-standalone-user-identity.yaml mldocs@microsoft.com 
/sdk/python/jobs/pipelines/1b_pipeline_with_python_function_components/pipeline_with_python_function_components.ipynb mldocs@microsoft.com 
/sdk/python/resources/workspace/workspace.ipynb mldocs@microsoft.com 
/sdk/python/endpoints/batch/deploy-models/heart-classifier-mlflow/mlflow-for-batch-tabular.ipynb mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/imagenet-classifier/code/score-by-batch/batch_driver.py mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/huggingface-text-summarization/deploy-and-run.sh mldocs@microsoft.com 
/cli/jobs/pipelines/automl/image-multiclass-classification-fridge-items-pipeline/pipeline.yml mldocs@microsoft.com 
/cli/jobs/pipelines/automl/image-instance-segmentation-task-fridge-items-pipeline/pipeline.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/training-with-components/deploy-and-run.sh mldocs@microsoft.com 
/cli/endpoints/online/model-1/onlinescoring/score.py mldocs@microsoft.com 
/cli/endpoints/online/managed/managed-identities/1-sai-create-endpoint.yml mldocs@microsoft.com 
/cli/jobs/basics/hello-world.yml mldocs@microsoft.com 
/cli/resources/workspace/mvnet-allow-only-approved-outbound.yml mldocs@microsoft.com 
/cli/assets/environment/docker-image-plus-conda.yaml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/training-with-components/deployment-ordinal/pipeline-job.yml mldocs@microsoft.com 
/cli/endpoints/online/deploy-with-packages/custom-model/package-external.yml mldocs@microsoft.com 
/cli/deploy-moe-autoscale.sh mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/batch-scoring-with-preprocessing/deploy-and-run.sh mldocs@microsoft.com 
/cli/endpoints/online/ncd/sklearn-diabetes/src/score.py mldocs@microsoft.com 
/cli/jobs/automl-standalone-jobs/cli-automl-image-classification-multiclass-task-fridge-items/cli-automl-image-classification-multiclass-task-fridge-items.yml mldocs@microsoft.com 
/cli/resources/compute/cluster-ssh-password.yml mldocs@microsoft.com 
/sdk/python/endpoints/batch/deploy-pipelines/hello-batch/sdk-deploy-and-test.ipynb mldocs@microsoft.com 
/cli/deploy-managed-online-endpoint-ncd.sh mldocs@microsoft.com 
/cli/jobs/pipelines/automl/cli-automl-text-classification-multilabel-paper-categorization-pipeline/pipeline.yml mldocs@microsoft.com 
/cli/jobs/single-step/r/iris/job.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/training-with-components/endpoint.yml mldocs@microsoft.com 
/cli/jobs/basics/hello-world-input.yml mldocs@microsoft.com 
//tutorials/get-started-notebooks/workstation_env.yml mldocs@microsoft.com 
/cli/deploy-managed-online-endpoint-access-resource-uai.sh mldocs@microsoft.com 
/cli/resources/workspace/privatelink.yml mldocs@microsoft.com 
/cli/endpoints/online/managed/managed-identities/2-uai-deployment.yml mldocs@microsoft.com 
/sdk/python/jobs/pipelines/2e_image_classification_keras_minist_convnet/prep/prep_component.py mldocs@microsoft.com 
/CLI/assets/model/local-file.yml mldocs@microsoft.com 
/cli/jobs/pipelines-with-components/basics/3b_pipeline_with_data/pipeline.yml mldocs@microsoft.com 
/sdk/python/jobs/single-step/pytorch/distributed-training/distributed-cifar10.ipynb mldocs@microsoft.com 
/sdk/python/endpoints/online/managed/debug-online-endpoints-locally-in-visual-studio-code.ipynb mldocs@microsoft.com 
/sdk/python/jobs/pipelines/2e_image_classification_keras_minist_convnet/train/train_component.py mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/custom-outputs-parquet/deploy-and-run.sh mldocs@microsoft.com 
/cli/resources/workspace/hbi.yml mldocs@microsoft.com 
/cli/schedules/cron-with-settings-job-schedule.yml mldocs@microsoft.com 
/cli/endpoints/online/managed/managed-identities/1-uai-create-endpoint.yml mldocs@microsoft.com 
/cli/endpoints/online/deploy-with-packages/mlflow-model/deploy.sh mldocs@microsoft.com 
/cli/jobs/pipelines-with-components/pipeline_with_hyperparameter_sweep/train.yml mldocs@microsoft.com 
/sdk/python/jobs/pipelines/2e_image_classification_keras_minist_convnet/score/score.yaml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/training-with-components/inputs.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/mnist-classifier/deployment-torch/deployment.yml mldocs@microsoft.com 
/cli/jobs/single-step/tensorflow/mnist-distributed/job.yml mldocs@microsoft.com 
/cli/resources/workspace/cmk.yml mldocs@microsoft.com 
/cli/resources/registry/registry-storage-options.yml mldocs@microsoft.com 
/sdk/python/endpoints/batch/deploy-pipelines/batch-scoring-with-preprocessing/sdk-deploy-and-test.ipynb mldocs@microsoft.com 
/cli/endpoints/online/custom-container/tfserving/half-plus-two/tfserving-deployment.yml mldocs@microsoft.com 
/cli/jobs/automl-standalone-jobs/cli-automl-image-instance-segmentation-task-fridge-items/cli-automl-image-instance-segmentation-task-fridge-items.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/huggingface-text-summarization/code/batch_driver.py mldocs@microsoft.com 
/sdk/python/jobs/pipelines/1a_pipeline_with_components_from_yaml/pipeline_with_components_from_yaml_serverless.ipynb mldocs@microsoft.com 
/sdk/python/jobs/pipelines/1c_pipeline_with_hyperparameter_sweep/pipeline_with_hyperparameter_sweep.ipynb mldocs@microsoft.com 
/cli/endpoints/online/deploy-with-packages/custom-model/environment/conda.yaml mldocs@microsoft.com 
/cli/deploy-mlcompute-update-to-user-identity.sh mldocs@microsoft.com 
/sdk/python/jobs/single-step/tensorflow/mnist-distributed-horovod/tensorflow-mnist-distributed-horovod.ipynb mldocs@microsoft.com 
/cli/jobs/spark/attached-spark-standalone-managed-identity.yml mldocs@microsoft.com 
/cli/resources/datastore/blob-sas.yml mldocs@microsoft.com 
/cli/jobs/basics/hello-world-org.yml mldocs@microsoft.com 
/cli/endpoints/online/deploy-with-packages/registry-model/package.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/hello-batch/deploy-and-run.sh mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/training-with-components/deployment-ordinal/pipeline.yml mldocs@microsoft.com 
/CLI/jobs/basics/hello-model-as-output.yml mldocs@microsoft.com 
/cli/deploy-local-endpoint.sh mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/training-with-components/deployment-ordinal/deployment.yml mldocs@microsoft.com 
/cli/assets/data/cloud-folder.yml mldocs@microsoft.com 
/cli/assets/data/local-file.yml mldocs@microsoft.com 
/cli/resources/datastore/file.yml mldocs@microsoft.com 
/cli/jobs/single-step/tensorflow/mnist-distributed-horovod/job.yml mldocs@microsoft.com 
/sdk/python/endpoints/online/deploy-with-packages/mlflow-model/sdk-deploy-and-test.ipynb mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/imagenet-classifier/deployment-by-file.yml mldocs@microsoft.com 
/cli/jobs/spark/spark-job-component.yml mldocs@microsoft.com 
/cli/deploy-managed-online-endpoint-workspacevnet.sh mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/mnist-classifier/deployment-torch/code/batch_driver.py mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/mnist-classifier/deployment-keras/deployment.yml mldocs@microsoft.com 
/cli/deploy-managed-online-endpoint.sh mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/huggingface-text-summarization/endpoint.yml mldocs@microsoft.com 
/cli/jobs/pipelines-with-components/pipeline_with_hyperparameter_sweep/pipeline.yml mldocs@microsoft.com 
/cli/jobs/pipelines/automl/image-object-detection-task-fridge-items-pipeline/pipeline.yml mldocs@microsoft.com 
/cli/resources/datastore/blob.yml mldocs@microsoft.com 
/cli/train.sh mldocs@microsoft.com 
/CLI/jobs/basics/hello-model-as-input.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/heart-classifier-mlflow/deployment-simple/deployment.yml mldocs@microsoft.com 
/sdk/python/featurestore_sample/notebooks/sdk_only/2. Experiment and train models using features.ipynb mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/training-with-components/environment/xgboost-sklearn-py38.yml mldocs@microsoft.com 
/cli/resources/compute/vm-attach.yml mldocs@microsoft.com 
/cli/resources/datastore/blob-protocol.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/imagenet-classifier/endpoint.yml mldocs@microsoft.com 
/cli/jobs/automl-standalone-jobs/cli-automl-classification-task-bankmarketing/cli-automl-classification-task-bankmarketing-serverless.yml mldocs@microsoft.com 
/cli/jobs/automl-standalone-jobs/cli-automl-text-ner-conll/cli-automl-text-ner-conll2003.yml mldocs@microsoft.com 
/cli/assets/data/cloud-file-wasbs.yml mldocs@microsoft.com 
/cli/jobs/automl-standalone-jobs/cli-automl-image-object-detection-task-fridge-items/cli-automl-image-object-detection-task-fridge-items.yml mldocs@microsoft.com 
/cli/assets/model/local-file.yml mldocs@microsoft.com 
/sdk/python/featurestore_sample/notebooks/sdk_and_cli/2. Experiment and train models using features.ipynb mldocs@microsoft.com 
/cli/deploy-rest.sh mldocs@microsoft.com 
/cli/endpoints/online/deploy-with-packages/custom-model/deploy.sh mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/heart-classifier-mlflow/deployment-custom/code/batch_driver.py mldocs@microsoft.com 
/cli/jobs/pipelines-with-components/basics/3b_pipeline_with_data/componentA.yml mldocs@microsoft.com 
/cli/jobs/pipelines/automl/cli-automl-text-classification-newsgroup-pipeline/pipeline.yml mldocs@microsoft.com 
/cli/resources/compute/cluster-low-priority.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/heart-classifier-mlflow/deployment-custom/deployment.yml mldocs@microsoft.com 
/sdk/python/endpoints/batch/deploy-pipelines/training-with-components/sdk-deploy-and-test.ipynb mldocs@microsoft.com 
/cli/endpoints/online/model-1/onlinescoring/score_managedidentity.py mldocs@microsoft.com 
/cli/setup.sh mldocs@microsoft.com 
/cli/jobs/pipelines-with-components/pipeline_with_hyperparameter_sweep/train-src/train.py mldocs@microsoft.com 
/sdk/python/jobs/automl-standalone-jobs/automl-image-object-detection-task-fridge-items/automl-image-object-detection-task-fridge-items.ipynb mldocs@microsoft.com 
/cli/assets/data/local-folder.yml mldocs@microsoft.com 
//sdk/python/using-mlflow/deploy/environment/conda.yaml mldocs@microsoft.com 
/cli/jobs/basics/hello-world-output-data.yml mldocs@microsoft.com 
/cli/schedules/recurrence-job-schedule.yml mldocs@microsoft.com 
/cli/endpoints/online/custom-container/tfserving/half-plus-two/tfserving-endpoint.yml mldocs@microsoft.com 
/cli/jobs/automl-standalone-jobs/cli-automl-text-ner-conll-distributed-sweeping/cli-automl-text-ner-conll2003-distributed-sweeping.yml mldocs@microsoft.com 
/cli/jobs/single-step/pytorch/cifar-distributed/job.yml mldocs@microsoft.com 
/cli/misc.sh mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/imagenet-classifier/deploy-and-run.sh mldocs@microsoft.com 
/cli/jobs/basics/hello-iris-datastore-file.yml mldocs@microsoft.com 
/cli/schedules/cron-job-schedule.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/training-with-components/environment/conda.yml mldocs@microsoft.com 
/cli/assets/data/cloud-folder-https.yml mldocs@microsoft.com 
/cli/endpoints/online/model-1/sample-request.json mldocs@microsoft.com 
/cli/deploy-safe-rollout-online-endpoints.sh mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/custom-outputs-parquet/code/batch_driver.py mldocs@microsoft.com 
/cli/resources/connections/container-registry-managed-identity.yml mldocs@microsoft.com 
/sdk/python/jobs/single-step/tensorflow/mnist-distributed/tensorflow-mnist-distributed.ipynb mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/training-with-components/deployment-onehot/deployment.yml mldocs@microsoft.com 
/cli/endpoints/online/deploy-with-packages/custom-model/sample-request.json mldocs@microsoft.com 
/sdk/python/jobs/pipelines/1g_pipeline_with_parallel_nodes/pipeline_with_parallel_nodes.ipynb mldocs@microsoft.com 
/cli/jobs/pipelines-with-components/basics/1b_e2e_registered_components/pipeline.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/batch-scoring-with-preprocessing/inputs.yml mldocs@microsoft.com 
/cli/jobs/basics/hello-world-env-var.yml mldocs@microsoft.com 
/cli/assets/data/cloud-folder-wasbs.yml mldocs@microsoft.com 
/sdk/python/endpoints/online/mlflow/sklearn-diabetes/model/MLmodel mldocs@microsoft.com 
/cli/assets/data/cloud-file.yml mldocs@microsoft.com 
/cli/endpoints/online/managed/sample/green-deployment.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/huggingface-text-summarization/environment/torch200-conda.yaml mldocs@microsoft.com 
/cli/jobs/basics/hello-iris-folder.yml mldocs@microsoft.com 
/cli/resources/datastore/blob-credless.yml mldocs@microsoft.com 
/cli/jobs/basics/hello-sweep.yml mldocs@microsoft.com 
/sdk/python/using-mlflow/deploy/model/conda.yaml mldocs@microsoft.com 
/cli/jobs/pipelines/iris-batch-prediction-using-parallel/pipeline.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/imagenet-classifier/imagenet-sample-unlabeled.yml mldocs@microsoft.com 
/cli/resources/workspace/basic.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/heart-classifier-mlflow/endpoint.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/mnist-classifier/deployment-keras/environment/conda.yaml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/mnist-classifier/deployment-torch/environment/conda.yaml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/mnist-classifier/deployment-keras/code/batch_driver.py mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/batch-scoring-with-preprocessing/pipeline.yml mldocs@microsoft.com 
/cli/assets/environment/docker-context.yml mldocs@microsoft.com 
/cli/jobs/basics/hello-code.yml mldocs@microsoft.com 
/cli/resources/compute/cluster-user-identity.yml mldocs@microsoft.com 
/cli/jobs/single-step/scikit-learn/iris/job-sweep.yml mldocs@microsoft.com 
/cli/resources/datastore/adls-gen1.yml mldocs@microsoft.com 
/cli/deploy-custom-container-tfserving-half-plus-two.sh mldocs@microsoft.com 
/cli/endpoints/batch/deploy-models/heart-classifier-mlflow/heart-dataset-unlabeled.yml mldocs@microsoft.com 
/sdk/python/jobs/pipelines/2e_image_classification_keras_minist_convnet/image_classification_keras_minist_convnet.ipynb mldocs@microsoft.com 
/cli/jobs/automl-standalone-jobs/cli-automl-image-classification-multilabel-task-fridge-items/cli-automl-image-classification-multilabel-task-fridge-items.yml mldocs@microsoft.com 
/cli/resources/compute/instance-basic.yml mldocs@microsoft.com 
/cli/assets/environment/docker-image.yml mldocs@microsoft.com 
/cli/jobs/spark/attached-spark-pipeline-user-identity.yml mldocs@microsoft.com 
/sdk/python/endpoints/online/managed/managed-identities/online-endpoints-managed-identity-sai.ipynb mldocs@microsoft.com 
/cli/resources/workspace/mvnet-allow-internet-outbound.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/batch-scoring-with-preprocessing/endpoint.yml mldocs@microsoft.com 
/cli/jobs/basics/hello-notebook.yml mldocs@microsoft.com 
/cli/deploy-triton-managed-online-endpoint.sh mldocs@microsoft.com 
/sdk/python/assets/model/model.ipynb mldocs@microsoft.com 
/cli/assets/data/cloud-file-https.yml mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/batch-scoring-with-preprocessing/pipeline-job.yml mldocs@microsoft.com 
/cli/endpoints/online/deploy-with-packages/registry-model/deploy.sh mldocs@microsoft.com 
/cli/endpoints/batch/deploy-pipelines/hello-batch/hello-component/hello.yml mldocs@microsoft.com 
/cli/jobs/automl-standalone-jobs/cli-automl-text-classification-multilabel-paper-cat/cli-automl-text-classification-multilabel-paper-cat.yml mldocs@microsoft.com 
/cli/resources/datastore/adls-gen2.yml mldocs@microsoft.com 
/cli/resources/compute/cluster-system-identity.yml mldocs@microsoft.com 
