*.amlignore
*.azureml
*pythonenv
*.venv
*dask-worker-space
*mlruns
*.vscode
*catboost_info
*.mag
*.ckpt
*lightning_logs
*.DS_Store
*.pyc
*config.json
*.log
scratch/*
python-sdk/tutorials/automl-with-azureml/image-classification-multiclass/fridgeObjects/*
python-sdk/tutorials/automl-with-azureml/image-classification-multiclass-batch-scoring/fridgeObjects/*
sdk/jobs/automl-standalone-jobs/automl-image-classification-multiclass-batch-scoring/data/training-mltable-folder/train_annotations.jsonl
sdk/jobs/automl-standalone-jobs/automl-image-classification-multiclass-batch-scoring/data/validation-mltable-folder/validation_annotations.jsonl
sdk/jobs/automl-standalone-jobs/automl-image-object-detection-task-fridge-items/data/odFridgeObjects/*
sdk/jobs/automl-standalone-jobs/automl-image-object-detection-task-fridge-items/data/training-mltable-folder/train_annotations.jsonl
sdk/jobs/automl-standalone-jobs/automl-image-object-detection-task-fridge-items/data/validation-mltable-folder/validation_annotations.jsonl
sdk/jobs/automl-standalone-jobs/automl-image-instance-segmentation-task-fridge-items/data/odFridgeObjectsMask/*
sdk/jobs/automl-standalone-jobs/automl-image-instance-segmentation-task-fridge-items/data/training-mltable-folder/train_annotations.jsonl
sdk/jobs/automl-standalone-jobs/automl-image-instance-segmentation-task-fridge-items/data/validation-mltable-folder/validation_annotations.jsonl
sdk/jobs/automl-standalone-jobs/automl-image-classification-multiclass-task-fridge-items/data/fridgeObjects/*
sdk/jobs/automl-standalone-jobs/automl-image-classification-multiclass-task-fridge-items/data/training-mltable-folder/train_annotations.jsonl
sdk/jobs/automl-standalone-jobs/automl-image-classification-multiclass-task-fridge-items/data/validation-mltable-folder/validation_annotations.jsonl
python-sdk/tutorials/automl-with-azureml/image-object-detection/odFridgeObjects/*
python-sdk/tutorials/automl-with-azureml/image-instance-segmentation/odFridgeObjectsMask/train_annotations.jsonl
python-sdk/tutorials/automl-with-azureml/image-instance-segmentation/odFridgeObjectsMask/*
python-sdk/tutorials/automl-with-azureml/image-classification-multilabel/multilabelFridgeObjects/*
sdk/jobs/automl-standalone-jobs/automl-image-classification-multilabel-task-fridge-items/data/multilabelFridgeObjects/*
sdk/jobs/automl-standalone-jobs/automl-image-classification-multilabel-task-fridge-items/data/training-mltable-folder/train_annotations.jsonl
sdk/jobs/automl-standalone-jobs/automl-image-classification-multilabel-task-fridge-items/data/validation-mltable-folder/validation_annotations.jsonl
sdk/jobs/automl-standalone-jobs/automl-image-classification-multilabel-task-fridge-items/artifact_downloads/*
python-sdk/tutorials/automl-with-azureml/image-classification-multiclass-batch-scoring/.ipynb_checkpoints/*
python-sdk/tutorials/automl-with-azureml/image-classification-multiclass/.ipynb_checkpoints/*
python-sdk/tutorials/automl-with-azureml/image-classification-multilabel/.ipynb_checkpoints/*
python-sdk/tutorials/automl-with-azureml/image-instance-segmentation/.ipynb_checkpoints/*
python-sdk/tutorials/automl-with-azureml/image-object-detection/.ipynb_checkpoints/*
python-sdk/tutorials/automl-with-azureml/image-classification-multiclass/score.py
sdk/jobs/automl-standalone-jobs/automl-image-classification-multiclass-task-fridge-items/sample_request_data.json
python-sdk/tutorials/automl-with-azureml/image-classification-multilabel/score.py
python-sdk/tutorials/automl-with-azureml/image-instance-segmentation/score.py
python-sdk/tutorials/automl-with-azureml/image-object-detection/score.py
sdk/jobs/automl-standalone-jobs/automl-image-classification-multilabel-task-fridge-items/sample_request_data.json
sdk/jobs/automl-standalone-jobs/automl-image-instance-segmentation-task-fridge-items/artifact_downloads/*
sdk/jobs/automl-standalone-jobs/automl-image-classification-multiclass-batch-scoring/scoring_results/*
sdk/jobs/automl-standalone-jobs/automl-image-object-detection-task-fridge-items/artifact_downloads/*
sdk/jobs/automl-standalone-jobs/automl-image-instance-segmentation-task-fridge-items/sample_request_data.json
sdk/jobs/automl-standalone-jobs/automl-image-object-detection-task-fridge-items/sample_request_data.json
