*.amlignore
*.azureml
*pythonenv
*.venv
*dask-worker-space
*mlruns
*.vscode
*catboost_info
*.mag
*.ckpt
*lightning_logs
*.DS_Store
*.pyc
*config.json
*.log
scratch/*
setup-repo/:/.blob./*

setup-repo/cifar-10-python.tar.gz
setup-repo/data/cifar-10-batches-py/*

