azureml-core>=1.13.0
azureml-dataprep
azureml-mlflow
azureml-widgets
azure-storage-blob
numpy
pandas
matplotlib
papermill
gitpython
black==19.10b0
black-nb

# TODO: remove
azure-mgmt-resource==10.2.0
