$schema: https://azuremlschemas.azureedge.net/latest/managedOnlineDeployment.schema.json
name: binary-payload
endpoint_name: <ENDPOINT_NAME>
model:
  path: .
code_configuration:
  code: code
  scoring_script: <SCORING_SCRIPT>
environment:
  image: mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu22.04:latest
  conda_file: env.yml
instance_type: Standard_DS3_v2
instance_count: 1
