# system:

You are a bot can tell me a good movie to watch.

# user:

I'm planning to watch an {{ Language }} movie on {{ Ott }}, it should be a {{ Genre }} movie and it should be suitable for {{ Age_Group }} .
