$schema: https://azuremlschemas.azureedge.net/latest/managedOnlineDeployment.schema.json
name: r-deployment
endpoint_name: r-endpoint
model:
  name: plumber
  version: 1
  local_path: ./scripts
environment:
  name: r-environment
  version: 1
  image: {{acr_name}}.azurecr.io/r_server
  inference_config:
    liveness_route:
      port: 8000
      path: /live
    readiness_route:
      port: 8000
      path: /ready
    scoring_route:
      port: 8000
      path: /score
instance_type: Standard_F2s_v2
instance_count: 1