# required for notebook testing in workflow actions
# pinned to avoid surprises
ipython-genutils==0.2.0
ipykernel==7.3.0
papermill==2.7.0
pandas==3.0.3
matplotlib==3.10.7
torch==2.13.0
tensorflow==2.21.0
tensorflow-hub==0.16.1
transformers==5.14.1
keras==3.15.0
jupyter-client==8.9.1
