# required for notebook testing in workflow actions
# pinned to avoid surprises
ipython-genutils==0.2.0
ipykernel==5.5.5
papermill==2.3.3
pandas
matplotlib
torch
tensorflow
tensorflow-hub
transformers
keras
jupyter-client==7.4.9
