# Specific requirements of the forecasting notebooks.
# This file is deprecated and will be removed when
# metrics package will be able to evaluate forecasting models.
azureml-metrics>=0.0.6.post1
scikit-learn>=0.19.0,<0.23.0
