$schema: https://azuremlschemas.azureedge.net/latest/managedOnlineDeployment.schema.json
name: infsrv-pandas
endpoint_name: <endpoint_name> 
model: azureml:azureml-infschema:1
code_configuration:
  code: code
  scoring_script: score-pandas.py
environment:
  image: mcr.microsoft.com/azureml/minimal-ubuntu22.04-py39-cpu-inference
  conda_file: env.yml
instance_type: Standard_DS3_v2
instance_count: 1