azureml-inference-server-http
text-generation
psutil
pandas
numpy
mlflow==2.3.1
azure-ai-contentsafety==1.0.0b1
aiolimiter==1.1.0
azure-ai-mlmonitoring==0.1.0a3
azure-mgmt-cognitiveservices==13.4.0
azure-identity==1.13.0