$ref: '#/definitions/BatchDeploymentSchema'
$schema: http://json-schema.org/draft-07/schema#
definitions:
  AnonymousEnvironmentSchema:
    additionalProperties: false
    properties:
      $schema:
        readonly: true
        title: $schema
        type: string
      arm_id:
        arm_type: data
        pattern: ^azureml:.*
        readonly: true
        title: arm_id
        type: string
      build:
        $ref: '#/definitions/BuildContextSchema'
        type: object
      conda_file:
        anyOf:
        - title: conda_file
          type: string
        - title: conda_file
          type: string
      creation_context:
        $ref: '#/definitions/CreationContextSchema'
        type: object
      datastore:
        arm_type: datastores
        pattern: ^azureml:.*
        title: datastore
        type: string
      description:
        title: description
        type: string
      id:
        arm_type: environments
        pattern: ^azureml:.*
        readonly: true
        title: id
        type: string
      image:
        title: image
        type: string
      inference_config:
        $ref: '#/definitions/InferenceConfigSchema'
        type: object
      local_path:
        description: the path from which the data gets uploaded to the cloud
        title: local_path
        type: string
      name:
        title: name
        type: string
      os_type:
        enum:
        - linux
        - windows
        title: os_type
        type: string
      path:
        description: URI pointing to a file or directory.
        title: path
        type: string
      tags:
        additionalProperties:
          title: tags
          type: string
        title: tags
        type: object
      version:
        anyOf:
        - type: string
        - type: integer
        title: version
    type: object
  AnonymousModelSchema:
    additionalProperties: false
    properties:
      $schema:
        readonly: true
        title: $schema
        type: string
      creation_context:
        $ref: '#/definitions/CreationContextSchema'
        type: object
      datastore:
        arm_type: datastores
        pattern: ^azureml:.*
        title: datastore
        type: string
      description:
        title: description
        type: string
      flavors:
        additionalProperties: {}
        title: flavors
        type: object
      id:
        arm_type: models
        pattern: ^azureml:.*
        readonly: true
        title: id
        type: string
      local_path:
        title: local_path
        type: string
      model_format:
        enum:
        - custom
        - mlflow
        - triton
        - openai
        title: model_format
        type: string
      name:
        title: name
        type: string
      path:
        title: path
        type: string
      properties:
        additionalProperties: {}
        title: properties
        type: object
      tags:
        additionalProperties: {}
        title: tags
        type: object
      utc_time_created:
        format: date-time
        title: utc_time_created
        type: string
      version:
        anyOf:
        - type: string
        - type: integer
        title: version
    type: object
  BatchDeploymentSchema:
    additionalProperties: false
    properties:
      $schema:
        readonly: true
        title: $schema
        type: string
      code_configuration:
        $ref: '#/definitions/CodeConfigurationSchema'
        type: object
      compute:
        anyOf:
        - enum:
          - local
          title: compute
          type: string
        - arm_type: computes
          pattern: ^azureml:.*
          title: compute
          type: string
        - title: compute
          type: string
      endpoint_name:
        title: endpoint_name
        type: string
      environment:
        anyOf:
        - arm_type: environments
          pattern: ^azureml:.*
          title: environment
          type: string
        - $ref: '#/definitions/EnvironmentSchema'
          type: object
        - $ref: '#/definitions/AnonymousEnvironmentSchema'
          type: object
        - pattern: ^file:.*
          type: string
      environment_variables:
        additionalProperties: {}
        title: environment_variables
        type: object
      error_threshold:
        description: "Error threshold, if the error count for the entire input goes\
          \ above this value,\r\nthe batch inference will be aborted. Range is [-1,\
          \ int.MaxValue].\r\nFor FileDataset, this value is the count of file failures.\r\
          \nFor TabularDataset, this value is the count of record failures.\r\nIf\
          \ set to -1 (the lower bound), all failures during batch inference will\
          \ be ignored."
        format: integer
        title: error_threshold
        type: number
      id:
        title: id
        type: string
      logging_level:
        description: A string of the logging level name, which is defined in 'logging'.
          Possible values are 'warning', 'info', and 'debug'.
        title: logging_level
        type: string
      max_concurrency_per_instance:
        description: Indicates maximum number of parallelism per instance.
        format: integer
        title: max_concurrency_per_instance
        type: number
      mini_batch_size:
        format: integer
        title: mini_batch_size
        type: number
      model:
        anyOf:
        - arm_type: models
          pattern: ^azureml:.*
          title: model
          type: string
        - $ref: '#/definitions/AnonymousModelSchema'
          type: object
      name:
        title: name
        type: string
      output_action:
        enum:
        - appendrow
        - summaryonly
        title: output_action
        type: string
      output_file_name:
        description: Customized output file name for append_row output action.
        title: output_file_name
        type: string
      properties:
        additionalProperties: {}
        title: properties
        type: object
      resources:
        $ref: '#/definitions/ResourceConfigurationSchema'
        type: object
      retry_settings:
        $ref: '#/definitions/BatchRetrySettingsSchema'
        type: object
      tags:
        additionalProperties: {}
        title: tags
        type: object
    required:
    - compute
    - endpoint_name
    - name
    type: object
  BatchRetrySettingsSchema:
    additionalProperties: false
    properties:
      max_retries:
        description: The number of maximum tries for a failed or timeout mini batch.
        format: integer
        title: max_retries
        type: number
      timeout:
        description: The timeout for a mini batch.
        format: integer
        title: timeout
        type: number
    type: object
  BuildContextSchema:
    additionalProperties: false
    properties:
      context_uri:
        title: context_uri
        type: string
      dockerfile_path:
        title: dockerfile_path
        type: string
      local_path:
        title: local_path
        type: string
    type: object
  CodeAssetSchema:
    additionalProperties: false
    properties:
      $schema:
        readonly: true
        title: $schema
        type: string
      arm_id:
        arm_type: data
        pattern: ^azureml:.*
        readonly: true
        title: arm_id
        type: string
      creation_context:
        $ref: '#/definitions/CreationContextSchema'
        type: object
      datastore:
        arm_type: datastores
        pattern: ^azureml:.*
        title: datastore
        type: string
      description:
        title: description
        type: string
      id:
        title: id
        type: string
      local_path:
        description: the path from which the data gets uploaded to the cloud
        title: local_path
        type: string
      name:
        title: name
        type: string
      path:
        description: URI pointing to a file or directory.
        title: path
        type: string
      tags:
        additionalProperties: {}
        title: tags
        type: object
      version:
        anyOf:
        - type: string
        - type: integer
        title: version
    type: object
  CodeConfigurationSchema:
    additionalProperties: false
    properties:
      $schema:
        readonly: true
        title: $schema
        type: string
      code:
        anyOf:
        - arm_type: codes
          pattern: ^azureml:.*
          title: code
          type: string
        - $ref: '#/definitions/CodeAssetSchema'
          type: object
        - pattern: ^file:.*
          type: string
      scoring_script:
        title: scoring_script
        type: string
    type: object
  CreationContextSchema:
    additionalProperties: false
    properties:
      created_at:
        format: date-time
        title: created_at
        type: string
      created_by:
        title: created_by
        type: string
      created_by_type:
        title: created_by_type
        type: string
      last_modified_at:
        format: date-time
        title: last_modified_at
        type: string
      last_modified_by:
        title: last_modified_by
        type: string
      last_modified_by_type:
        title: last_modified_by_type
        type: string
    type: object
  EnvironmentSchema:
    additionalProperties: false
    properties:
      $schema:
        readonly: true
        title: $schema
        type: string
      build:
        $ref: '#/definitions/BuildContextSchema'
        type: object
      conda_file:
        anyOf:
        - title: conda_file
          type: string
        - title: conda_file
          type: string
      creation_context:
        $ref: '#/definitions/CreationContextSchema'
        type: object
      description:
        title: description
        type: string
      id:
        arm_type: environments
        pattern: ^azureml:.*
        readonly: true
        title: id
        type: string
      image:
        title: image
        type: string
      inference_config:
        $ref: '#/definitions/InferenceConfigSchema'
        type: object
      name:
        title: name
        type: string
      os_type:
        enum:
        - linux
        - windows
        title: os_type
        type: string
      tags:
        additionalProperties:
          title: tags
          type: string
        title: tags
        type: object
      version:
        anyOf:
        - type: string
        - type: integer
        title: version
    required:
    - name
    - version
    type: object
  InferenceConfigSchema:
    additionalProperties: false
    properties:
      liveness_route:
        $ref: '#/definitions/RouteSchema'
        type: object
      readiness_route:
        $ref: '#/definitions/RouteSchema'
        type: object
      scoring_route:
        $ref: '#/definitions/RouteSchema'
        type: object
    required:
    - liveness_route
    - readiness_route
    - scoring_route
    type: object
  ResourceConfigurationSchema:
    additionalProperties: false
    properties:
      instance_count:
        format: integer
        title: instance_count
        type: number
      instance_type:
        description: The instance type to make available to this job.
        title: instance_type
        type: string
      properties:
        additionalProperties: {}
        title: properties
        type: object
    type: object
  RouteSchema:
    additionalProperties: false
    properties:
      path:
        title: path
        type: string
      port:
        format: integer
        title: port
        type: number
    required:
    - path
    - port
    type: object
