$ref: '#/definitions/EnvironmentSchema'
$schema: http://json-schema.org/draft-07/schema#
definitions:
  BuildContextSchema:
    additionalProperties: false
    properties:
      context_uri:
        title: context_uri
        type: string
      dockerfile_path:
        title: dockerfile_path
        type: string
      local_path:
        title: local_path
        type: string
    type: object
  CreationContextSchema:
    additionalProperties: false
    properties:
      created_at:
        format: date-time
        title: created_at
        type: string
      created_by:
        title: created_by
        type: string
      created_by_type:
        title: created_by_type
        type: string
      last_modified_at:
        format: date-time
        title: last_modified_at
        type: string
      last_modified_by:
        title: last_modified_by
        type: string
      last_modified_by_type:
        title: last_modified_by_type
        type: string
    type: object
  EnvironmentSchema:
    additionalProperties: false
    properties:
      $schema:
        readonly: true
        title: $schema
        type: string
      build:
        $ref: '#/definitions/BuildContextSchema'
        type: object
      conda_file:
        anyOf:
        - title: conda_file
          type: string
        - title: conda_file
          type: string
      creation_context:
        $ref: '#/definitions/CreationContextSchema'
        type: object
      description:
        title: description
        type: string
      id:
        arm_type: environments
        pattern: ^azureml:.*
        readonly: true
        title: id
        type: string
      image:
        title: image
        type: string
      inference_config:
        $ref: '#/definitions/InferenceConfigSchema'
        type: object
      name:
        title: name
        type: string
      os_type:
        enum:
        - linux
        - windows
        title: os_type
        type: string
      tags:
        additionalProperties:
          title: tags
          type: string
        title: tags
        type: object
      version:
        anyOf:
        - type: string
        - type: integer
        title: version
    required:
    - name
    - version
    type: object
  InferenceConfigSchema:
    additionalProperties: false
    properties:
      liveness_route:
        $ref: '#/definitions/RouteSchema'
        type: object
      readiness_route:
        $ref: '#/definitions/RouteSchema'
        type: object
      scoring_route:
        $ref: '#/definitions/RouteSchema'
        type: object
    required:
    - liveness_route
    - readiness_route
    - scoring_route
    type: object
  RouteSchema:
    additionalProperties: false
    properties:
      path:
        title: path
        type: string
      port:
        format: integer
        title: port
        type: number
    required:
    - path
    - port
    type: object
