$ref: '#/definitions/K8sOnlineDeploymentSchema'
$schema: http://json-schema.org/draft-07/schema#
definitions:
  AnonymousEnvironmentSchema:
    additionalProperties: false
    properties:
      $schema:
        readonly: true
        title: $schema
        type: string
      arm_id:
        arm_type: data
        pattern: ^azureml:.*
        readonly: true
        title: arm_id
        type: string
      build:
        $ref: '#/definitions/BuildContextSchema'
        type: object
      conda_file:
        anyOf:
        - title: conda_file
          type: string
        - title: conda_file
          type: string
      creation_context:
        $ref: '#/definitions/CreationContextSchema'
        type: object
      datastore:
        arm_type: datastores
        pattern: ^azureml:.*
        title: datastore
        type: string
      description:
        title: description
        type: string
      id:
        arm_type: environments
        pattern: ^azureml:.*
        readonly: true
        title: id
        type: string
      image:
        title: image
        type: string
      inference_config:
        $ref: '#/definitions/InferenceConfigSchema'
        type: object
      local_path:
        description: the path from which the data gets uploaded to the cloud
        title: local_path
        type: string
      name:
        title: name
        type: string
      os_type:
        enum:
        - linux
        - windows
        title: os_type
        type: string
      path:
        description: URI pointing to a file or directory.
        title: path
        type: string
      tags:
        additionalProperties:
          title: tags
          type: string
        title: tags
        type: object
      version:
        anyOf:
        - type: string
        - type: integer
        title: version
    type: object
  AnonymousModelSchema:
    additionalProperties: false
    properties:
      $schema:
        readonly: true
        title: $schema
        type: string
      creation_context:
        $ref: '#/definitions/CreationContextSchema'
        type: object
      datastore:
        arm_type: datastores
        pattern: ^azureml:.*
        title: datastore
        type: string
      description:
        title: description
        type: string
      flavors:
        additionalProperties: {}
        title: flavors
        type: object
      id:
        arm_type: models
        pattern: ^azureml:.*
        readonly: true
        title: id
        type: string
      local_path:
        title: local_path
        type: string
      model_format:
        enum:
        - custom
        - mlflow
        - triton
        - openai
        title: model_format
        type: string
      name:
        title: name
        type: string
      path:
        title: path
        type: string
      properties:
        additionalProperties: {}
        title: properties
        type: object
      tags:
        additionalProperties: {}
        title: tags
        type: object
      utc_time_created:
        format: date-time
        title: utc_time_created
        type: string
      version:
        anyOf:
        - type: string
        - type: integer
        title: version
    type: object
  BuildContextSchema:
    additionalProperties: false
    properties:
      context_uri:
        title: context_uri
        type: string
      dockerfile_path:
        title: dockerfile_path
        type: string
      local_path:
        title: local_path
        type: string
    type: object
  CodeAssetSchema:
    additionalProperties: false
    properties:
      $schema:
        readonly: true
        title: $schema
        type: string
      arm_id:
        arm_type: data
        pattern: ^azureml:.*
        readonly: true
        title: arm_id
        type: string
      creation_context:
        $ref: '#/definitions/CreationContextSchema'
        type: object
      datastore:
        arm_type: datastores
        pattern: ^azureml:.*
        title: datastore
        type: string
      description:
        title: description
        type: string
      id:
        title: id
        type: string
      local_path:
        description: the path from which the data gets uploaded to the cloud
        title: local_path
        type: string
      name:
        title: name
        type: string
      path:
        description: URI pointing to a file or directory.
        title: path
        type: string
      tags:
        additionalProperties: {}
        title: tags
        type: object
      version:
        anyOf:
        - type: string
        - type: integer
        title: version
    type: object
  CodeConfigurationSchema:
    additionalProperties: false
    properties:
      $schema:
        readonly: true
        title: $schema
        type: string
      code:
        anyOf:
        - arm_type: codes
          pattern: ^azureml:.*
          title: code
          type: string
        - $ref: '#/definitions/CodeAssetSchema'
          type: object
        - pattern: ^file:.*
          type: string
      scoring_script:
        title: scoring_script
        type: string
    type: object
  CreationContextSchema:
    additionalProperties: false
    properties:
      created_at:
        format: date-time
        title: created_at
        type: string
      created_by:
        title: created_by
        type: string
      created_by_type:
        title: created_by_type
        type: string
      last_modified_at:
        format: date-time
        title: last_modified_at
        type: string
      last_modified_by:
        title: last_modified_by
        type: string
      last_modified_by_type:
        title: last_modified_by_type
        type: string
    type: object
  DefaultScaleSettingsSchema:
    additionalProperties: false
    properties:
      scale_type:
        enum:
        - Default
        title: scale_type
        type: string
    required:
    - scale_type
    type: object
  EnvironmentSchema:
    additionalProperties: false
    properties:
      $schema:
        readonly: true
        title: $schema
        type: string
      build:
        $ref: '#/definitions/BuildContextSchema'
        type: object
      conda_file:
        anyOf:
        - title: conda_file
          type: string
        - title: conda_file
          type: string
      creation_context:
        $ref: '#/definitions/CreationContextSchema'
        type: object
      description:
        title: description
        type: string
      id:
        arm_type: environments
        pattern: ^azureml:.*
        readonly: true
        title: id
        type: string
      image:
        title: image
        type: string
      inference_config:
        $ref: '#/definitions/InferenceConfigSchema'
        type: object
      name:
        title: name
        type: string
      os_type:
        enum:
        - linux
        - windows
        title: os_type
        type: string
      tags:
        additionalProperties:
          title: tags
          type: string
        title: tags
        type: object
      version:
        anyOf:
        - type: string
        - type: integer
        title: version
    required:
    - name
    - version
    type: object
  InferenceConfigSchema:
    additionalProperties: false
    properties:
      liveness_route:
        $ref: '#/definitions/RouteSchema'
        type: object
      readiness_route:
        $ref: '#/definitions/RouteSchema'
        type: object
      scoring_route:
        $ref: '#/definitions/RouteSchema'
        type: object
    required:
    - liveness_route
    - readiness_route
    - scoring_route
    type: object
  K8sOnlineDeploymentSchema:
    additionalProperties: false
    properties:
      $schema:
        readonly: true
        title: $schema
        type: string
      app_insights_enabled:
        title: app_insights_enabled
        type: boolean
      code_configuration:
        $ref: '#/definitions/CodeConfigurationSchema'
        type: object
      endpoint_name:
        title: endpoint_name
        type: string
      environment:
        anyOf:
        - arm_type: environments
          pattern: ^azureml:.*
          title: environment
          type: string
        - $ref: '#/definitions/EnvironmentSchema'
          type: object
        - $ref: '#/definitions/AnonymousEnvironmentSchema'
          type: object
        - pattern: ^file:.*
          type: string
      environment_variables:
        additionalProperties: {}
        title: environment_variables
        type: object
      id:
        title: id
        type: string
      instance_count:
        format: integer
        title: instance_count
        type: number
      liveness_probe:
        $ref: '#/definitions/LivenessProbeSchema'
        type: object
      model:
        anyOf:
        - arm_type: models
          pattern: ^azureml:.*
          title: model
          type: string
        - $ref: '#/definitions/AnonymousModelSchema'
          type: object
      model_mount_path:
        title: model_mount_path
        type: string
      name:
        title: name
        type: string
      properties:
        additionalProperties: {}
        title: properties
        type: object
      provisioning_state:
        title: provisioning_state
        type: string
      request_settings:
        $ref: '#/definitions/RequestSettingsSchema'
        type: object
      resources:
        $ref: '#/definitions/ResourceRequirementsSchema'
        type: object
      scale_settings:
        anyOf:
        - $ref: '#/definitions/DefaultScaleSettingsSchema'
          type: object
        - $ref: '#/definitions/TargetUtilizationScaleSettingsSchema'
          type: object
      tags:
        additionalProperties: {}
        title: tags
        type: object
      type:
        enum:
        - managed
        - kubernetes
        title: type
        type: string
    required:
    - endpoint_name
    - name
    type: object
  LivenessProbeSchema:
    additionalProperties: false
    properties:
      failure_threshold:
        format: integer
        title: failure_threshold
        type: number
      initial_delay:
        format: integer
        title: initial_delay
        type: number
      period:
        format: integer
        title: period
        type: number
      success_threshold:
        format: integer
        title: success_threshold
        type: number
      timeout:
        format: integer
        title: timeout
        type: number
    type: object
  RequestSettingsSchema:
    additionalProperties: false
    properties:
      max_concurrent_requests_per_instance:
        format: integer
        title: max_concurrent_requests_per_instance
        type: number
      max_queue_wait_ms:
        format: integer
        title: max_queue_wait_ms
        type: number
      request_timeout_ms:
        format: integer
        title: request_timeout_ms
        type: number
    type: object
  ResourceRequirementsSchema:
    additionalProperties: false
    properties:
      limits:
        $ref: '#/definitions/ResourceSettingsSchema'
        type: object
      requests:
        $ref: '#/definitions/ResourceSettingsSchema'
        type: object
    type: object
  ResourceSettingsSchema:
    additionalProperties: false
    properties:
      cpu:
        title: cpu
        type: string
      gpu:
        title: gpu
        type: string
      memory:
        title: memory
        type: string
    type: object
  RouteSchema:
    additionalProperties: false
    properties:
      path:
        title: path
        type: string
      port:
        format: integer
        title: port
        type: number
    required:
    - path
    - port
    type: object
  TargetUtilizationScaleSettingsSchema:
    additionalProperties: false
    properties:
      max_instances:
        format: integer
        title: max_instances
        type: number
      min_instances:
        format: integer
        title: min_instances
        type: number
      polling_interval:
        format: integer
        title: polling_interval
        type: number
      scale_type:
        enum:
        - target_utilization
        title: scale_type
        type: string
      target_utilization_percentage:
        format: integer
        title: target_utilization_percentage
        type: number
    required:
    - scale_type
    type: object
