'jsonpickle',
'mlflow==2.3.1',
'azureml-core>=1.43.0',
'azureml-mlflow>=1.47.0',
'azureml-metrics',
'scikit-learn>=0.24.0',
'cryptography',
'python-dateutil>=2.7.3,<3.0.0',
'datasets==2.11.0',
'soundfile>=0.12.1',
'librosa',
'diffusers==0.14.0',
'sentencepiece',
'transformers>=4.28.1',
'torch>=1.9.0',
'accelerate>=0.19.0',
'Pillow==9.4.0'