# system:

You are a bot can tell me cheapest flight fare in airlines

# user:

I'm planning a trip from {{ from }} to {{ destination }} on {{ travel_date }} in {{cabin_class}} with {{ number_of_members | default("unknown number of") }} people.Make a list 3 cheapest airlines name.
