ipykernel~=6.20.2
azureml-core==1.50.0
azureml-dataset-runtime==1.50.0
azureml-defaults==1.50.0
azure-ml==0.0.1
azure-ml-component==0.9.18
azureml-mlflow==1.50.0
azureml-contrib-services==1.50.0
azureml-contrib-services==1.50.0
torch-tb-profiler~=0.4.0
py-spy==0.3.12
debugpy~=1.6.3
azureml-inference-server-http~=0.8.0
inference-schema~=1.5.0
MarkupSafe==2.1.2
regex
pybind11
azure-data-tables==12.4.2