name: cli-jobs-pipelines-with-components-basics-5c_env_conda_file-pipeline
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0/4 * * *"
  pull_request:
    branches:
      - main
      - cli-preview
      - releases/current
    paths:
      - cli/jobs/pipelines-with-components/basics/5c_env_conda_file/**
      - .github/workflows/cli-jobs-pipelines-with-components-basics-5c_env_conda_file-pipeline.yml
      - cli/setup.sh
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: check out repo
      uses: actions/checkout@v2
    - name: azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZ_CREDS}}
    - name: setup
      run: bash setup.sh
      working-directory: cli
      continue-on-error: true
    - name: run job
      run: bash -x run-job.sh jobs/pipelines-with-components/basics/5c_env_conda_file/pipeline.yml
      working-directory: cli
