name: cli-scripts-deploy-moe-keyvault
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0/4 * * *"
  pull_request:
    branches:
      - main
      - sdk-preview
    paths:
      - cli/deploy-moe-keyvault.sh
      - .github/workflows/cli-scripts-deploy-moe-keyvault.yml
      - cli/setup.sh
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: check out repo
      uses: actions/checkout@v2
    - name: azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZ_CREDS}}
    - name: setup
      run: bash setup.sh
      working-directory: cli
      continue-on-error: true
    - name: test script script
      run: set -e; bash -x deploy-moe-keyvault.sh
      working-directory: cli
