name: cli-jobs-pipelines-automl-cli-automl-regression-housepricing-pipeline-regression-task-housepricing-pipeline
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0/4 * * *"
  pull_request:
    branches:
      - main
      - sdk-preview
      - may-sdk-preview
    paths:
      - cli/jobs/pipelines/automl/cli-automl-regression-housepricing-pipeline/**
      - .github/workflows/cli-jobs-pipelines-automl-cli-automl-regression-housepricing-pipeline-regression-task-housepricing-pipeline.yml
      - cli/setup.sh
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: check out repo
      uses: actions/checkout@v2
    - name: azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZ_CREDS}}
    - name: setup
      run: bash setup.sh
      working-directory: cli
      continue-on-error: true
    - name: run job
      run: bash -x ../../../../run-job.sh regression-task-housepricing-pipeline.yml
      working-directory: cli/jobs/pipelines/automl/cli-automl-regression-housepricing-pipeline
