name: docs-checker-cli
on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: check out repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: "3.9"
    - name: pip install
      run: pip install -r dev-requirements.txt
    - name: run docs checker script
      run: python docs.py
      working-directory: setup/setup-repo
