name: kubernetes-compute-training-cli-jobs-automl
on:
  schedule:
    - cron: "0 22 * * *"
  workflow_dispatch:
    inputs:
      TEST_REGION:
        description: 'Resource Region'
        required: false
        default: 'eastus'
      JOB_SELECTOR:
        description: 'Job selector used with grep command to select job workflows'
        required: false
        default: '^cli-jobs-automl.*yml$'
      JOB_FILTER:
        description: 'Job filter used with grep command to filter out job workflows'
        required: false
        default: 'automl-forecasting-task-github-dau|cli-automl-forecasting-task-bike-share|multiclass-task-fridge-items|segmentation-task-fridge-items|multilabel-task-fridge-items|detection-task-fridge-items|spark|java'
      TIMEOUT:
        description: 'Timeout of a single job'
        required: false
        default: '120m'
      FILE_TICKET:
        description: 'Whether to file icm ticket: true or false'
        required: false
        default: 'false'
      WORKSPACE:
        description: 'The workspace of the cluster'
        required: false
        default: 'amlarc-githubtest-ws'
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      JOB_SELECTOR: '^cli-jobs-automl.*yml$|cli-jobs-basics-hello-automl-hello-automl-job-basic.yml'
      JOB_FILTER: 'automl-forecasting-task-github-dau|cli-automl-forecasting-task-bike-share|multiclass-task-fridge-items|segmentation-task-fridge-items|multilablel-task-fridge-items|detection-task-fridge-items|spark|java'
      JOB_LIST_FILE: kubernetes-compute-training-cli-jobs-automl.txt
      TIMEOUT: '120m'
      MIN_SUCCESS_NUM: 1
      WORKFLOW: https://github.com/Azure/azureml-examples/actions/workflows/kubernetes-compute-training-cli-jobs-automl.yml

    steps:
    - name: check out repo
      uses: actions/checkout@v2
    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: setup environment
      run: |
        bash .github/kubernetes-compute/tool.sh set_default_env
        if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
          echo "LOCATION=${{ github.event.inputs.TEST_REGION }}" | tee -a $GITHUB_ENV
          echo "JOB_SELECTOR=${{ github.event.inputs.JOB_SELECTOR }}" | tee -a $GITHUB_ENV
          echo "JOB_FILTER=${{ github.event.inputs.JOB_FILTER }}" | tee -a $GITHUB_ENV
          echo "TIMEOUT=${{ github.event.inputs.TIMEOUT }}" | tee -a $GITHUB_ENV
          echo "FILE_TICKET=${{ github.event.inputs.FILE_TICKET }}" | tee -a $GITHUB_ENV
          echo "WORKSPACE=${{ github.event.inputs.WORKSPACE }}" | tee -a $GITHUB_ENV
        fi
        bash .github/kubernetes-compute/tool.sh install_tools
        set -x +e
        bash cli/setup.sh 
        az version
      timeout-minutes: 30
    - name: azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZ_CREDS}}
      timeout-minutes: 30

    - name: collect jobs
      run: |
        bash .github/kubernetes-compute/tool.sh collect_jobs_from_workflows "$JOB_LIST_FILE"  "$JOB_SELECTOR" "$JOB_FILTER"
      timeout-minutes: 30

    - name: run jobs
      run: |
        bash .github/kubernetes-compute/tool.sh run_jobs_from_file "$JOB_LIST_FILE"
      timeout-minutes: 300

    - name: check jobs
      if: ${{ always() }}
      run: |
        bash .github/kubernetes-compute/tool.sh count_result
      timeout-minutes: 30

    # report metrics
    - name: report_metrics
      if: ${{ always() && github.event_name != 'pull_request' }}
      run: |
        if [ "$FILE_TICKET" == "true" ]; then
          bash .github/kubernetes-compute/tool.sh report_metrics upload_test_result_metrics
        fi
      timeout-minutes: 120