name: sdk-resources-compute-compute
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - sdk/**
      - .github/workflows/sdk-resources-compute-compute.yml
      - sdk/dev-requirements.txt
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: check out repo
      uses: actions/checkout@v2
    - name: setup python
      uses: actions/setup-python@v2
      with: 
        python-version: "3.8"
    - name: pip install notebook reqs
      run: pip install -r sdk/dev-requirements.txt
    - name: azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZ_CREDS}}
    - name: setup SDK
      run: bash setup.sh
      working-directory: sdk
      continue-on-error: true
    - name: setup CLI
      run: bash setup.sh
      working-directory: cli
      continue-on-error: true
    - name: run resources/compute/compute.ipynb
      run: |
          sed -i -e "s/<SUBSCRIPTION_ID>/6560575d-fa06-4e7d-95fb-f962e74efd7a/g" compute.ipynb
          sed -i -e "s/<RESOURCE_GROUP>/azureml-examples/g" compute.ipynb
          sed -i -e "s/<AML_WORKSPACE_NAME>/main/g" compute.ipynb
          sed -i -e "s/DefaultAzureCredential/AzureCliCredential/g" compute.ipynb

          papermill -k python compute.ipynb compute.output.ipynb
      working-directory: sdk/resources/compute
    - name: upload notebook's working folder as an artifact
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: compute
        path: sdk/resources/compute
