name: sdk-jobs-pipelines-1d_pipeline_with_non_python_components
on:
  workflow_dispatch:
  schedule:
    - cron: "0 */8 * * *"
  pull_request:
    branches:
      - pipeline/*
      - sdk-preview
      - march-sdk-preview
    paths:
      - sdk/**
      - .github/workflows/sdk-jobs-pipelines-1d_pipeline_with_non_python_components.yml
      - notebooks/dev-requirements.txt
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: check out repo
      uses: actions/checkout@v2
    - name: setup python
      uses: actions/setup-python@v2
      with: 
        python-version: "3.8"
    - name: pip install notebook reqs
      run: pip install -r notebooks/dev-requirements.txt
    - name: azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZ_AE_CREDS}}
    - name: setup SDK
      run: bash setup.sh
      working-directory: sdk
      continue-on-error: true
    - name: setup CLI
      run: bash setup.sh
      working-directory: cli
      continue-on-error: true
    - name: run jobs/pipelines/1d_pipeline_with_non_python_components/pipeline_with_non_python_components.ipynb
      run: |
          mkdir ../../.azureml
          echo '{"subscription_id": "e9b2ec51-5c94-4fa8-809a-dc1e695e4896", "resource_group": "pipelinesdktest", "workspace_name": "magic"}' > ../../.azureml/config.json 
          sed -i -e "s/DefaultAzureCredential/AzureCliCredential/g" pipeline_with_non_python_components.ipynb
          
          papermill pipeline_with_non_python_components.ipynb - -k python
      working-directory: sdk/jobs/pipelines/1d_pipeline_with_non_python_components
